/*------------- UTILITY CLASSES -------------*/

@mixin atSmall {
    @media screen and (min-width: 768px) {
        @content
    }
}

@mixin atMedium {
    @media screen and (min-width: 992px) {
        @content
    }
}

@mixin atLarge {
    @media screen and (min-width: 1200px) {
        @content
    }
}

@mixin atExtralarge {
    @media screen and (min-width: 1400px) {
        @content
    }
}

.container {
    @include atExtralarge {
        width: 1200px;
    }
    &--small {
        max-width: 1020px;
    }
}

.overlay {
    padding: 5rem 0 6.25rem 0;
    &--active {
        background-color: rgba(128, 128, 128, 0.6);
    }
}